<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>DefaultCompletionName</key>
    <string>MyScene</string>
    <key>Description</key>
    <string>This generates a new scene using clean architecture and coordinators. It consists of the view controller, view model and a coordinator.</string>
    <key>Summary</key>
	<string>This generates a new scene using clean architecture enhanced with coordinators.</string>
    <key>Kind</key>
    <string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
    <key>SortOrder</key>
	<string>1</string>
    <key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the scene to create</string>
			<key>Identifier</key>
			<string>sceneName</string>
			<key>Name</key>
			<string>New Scene Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
        <dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___Coordinator</string>
			<key>Description</key>
			<string>The coordinator name</string>
			<key>Identifier</key>
			<string>coordinatorName</string>
			<key>Name</key>
			<string>Coordinator Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
        <dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___ViewModel</string>
			<key>Description</key>
			<string>The view model name</string>
			<key>Identifier</key>
			<string>viewModelName</string>
			<key>Name</key>
			<string>View Model Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___ViewController</string>
			<key>Description</key>
			<string>The view controller name</string>
			<key>Identifier</key>
			<string>viewControllerName</string>
			<key>Name</key>
			<string>View Controller Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___ViewController</string>
			<key>Description</key>
			<string>The Xib name</string>
			<key>Identifier</key>
			<string>xibName</string>
			<key>Name</key>
			<string>Xib Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
</dict>
</plist>